h1 {
	font-family:Segoe UI, roboto;
/*	font-size:30px;*/
	font-weight:bold;
	margin:0;
	padding:0;
	}
.text-center{
	text-align: center;
}
hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

#stylefive{
	position:relative;
	display:block;
	height:26px;
	font-size:11px;
	font-weight:bold;
	background:transparent url(bgOFF.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	border-bottom:3px solid #FF0066;
	}

#stylefive ul{
	margin:0px;
	padding:0;
	font-size: 13px;
	list-style-type:none;
	width:auto;
	}

#stylefive ul li{
	display:block;
	float:left;
	margin:0;
	}

#stylefive ul li a{
	display:block;
	float:left;
	color:#fff;
	text-decoration:none;
	padding:7px 20px 0 20px;
	height:22px;
	background:transparent url(bgDIVIDER.gif) no-repeat top right;
	}

#stylefive ul li a:hover,#stylefive ul li a.current{
	color:#fff;
	background:#131546 url(bgDIVIDER.gif) no-repeat top right;
	font-size: 15px;
	color: gold;
	}
	.title{
		text-align: center;
		font-size: 55px;
		text-shadow: 5px 5px 5px red;
	}
body{
	font-family: 'Segoe UI' roboto;
	background: lightseagreen;
}

.bg-cover{
	background-image: url('back.jpg');
	filter: blur(50px);
	background-repeat: no-repeat;
}
.covertitle{
	font-size: 18px;
	text-shadow: 5px 5px 5px red;
}
.box{
	max-width: 500px;
	max-height: 500px;
}

	.row {
     display: flex;
	 }

	 .col {
	      float: left;
	      padding: 50px;
	 }
.img-responsive{
	max-height: 300px;
	max-width: 500px;
	height: 300px;
	width: 500px;
	border-radius: 20px;
	box-shadow: 1px 1px 0 black;
}
footer{
	text-align: center;
	height: 80px;
	background: #333;
	color: white;
	margin-top: 20px;
	padding-top: 40px;
	border-radius: 10px;
}
a{
	color: blue;
}
@media screen and (max-width:768px){

	.title{
		text-align: center;
		font-size: 20px;
		text-shadow: 5px 5px 5px red;
		word-break: break-all;
	}
	#stylefive{
		position:relative;
		display:block;
		height:15px;
		font-size:10px;
		font-weight:bold;
		background:transparent url(bgOFF.gif) repeat-x top left;
		font-family:Arial,Verdana,Helvitica,sans-serif;
		border-bottom:3px solid #FF0066;
	}
	#stylefive ul{
		margin:0px;
		padding:0;
		font-size: 12px;
		list-style-type:none;
		width:auto;
	}
	#stylefive ul li{
		display:block;
		float:left;
		margin:0;
	}

#stylefive ul li a{
		display:block;
		float:left;
		color:#fff;
		text-decoration:none;
		padding:3px 10px 0 10px;
		height:12px;
		background:transparent url(bgDIVIDER.gif) no-repeat top right;
	}
	.img-responsive{
		max-height: 100px;
		max-width: 100px;
		height: 100px;
		width: 100px;
		border-radius: 20px;
		box-shadow: 1px 1px 0 black;
	}
	.row {
     display: flex;
	 }

	 .col {
	      float: left;
	      padding: 20px;
	 }
	 footer{
		text-align: center;
		height: 60px;
		background: #333;
		color: lightblue;
		margin-top: 20px;
		padding-top: 20px;
	}
	.covertitle{
	font-size: 15px;
	text-shadow: 5px 5px 5px red;
	}
	.title{
		text-align: center;
		font-size: 25px;
		text-shadow: 5px 5px 5px red;
	}
	h4{
		font-size: 15px;
	}
}