
	body{
		  font-family: Georgia, 'Times New Roman', Times, serif;
		  background-color: #333;
			}

	.tooltip {
	position: relative;
	display: inline-block;
	float: right;
	}
	.color1{
		background-color: #44276A;
	}
	.color2{
		background-color: #2A124D;
	}
	.color3{
		background-color: #E5B63E ;

	}
	.container1{
		width: 510px;
		height: 490px;
		padding: 1rem;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		
	}

	.container2{
		width: 510px;
		height: 490px;
		margin: 2px;
	}
	.container3{
		width: 480px;
		height: 80px;
		margin: 18px;
		margin-top: 25px;
		color: white;
		font-size: 30px;
		padding-top: 20px;
		 justify-content: center;
  		align-items: center;
  		word-break: break-all;
	}
	.pt1{
		padding-top: 1px;

	}
	.pt10{
		padding-top: 10px;

	}
	.generator{
		height: 100px;
		margin: 10px;
		margin-top: 10px;

	}
	.mybutton{
		font-size: 27px;
		font-weight: bold;
		color: purple;
		height: 80px;
		margin: 10px;
		width: 470px;
		text-align: center;
	}
	p{
		color: white;
		padding-left: 20px;
		font-size: 18px;
		font-weight: bold;
	}
	label{
/*		float: right;*/
		padding-right: 15px;
		color: white;
		padding-left: 20px;
		font-size: 18px;
		font-weight: bold;
	}
	.myinput{
		width: 42px;
		float: right;
		margin-right: 10px;
		font-size: 20px;
		text-align: left;
	}
	.form {
	  justify-content: center;
	  align-items: center;
	}
	.misenOpaque{
		opacity: 0.6;
	}

@media screen and (max-width:1000px){

	.container1{
		width: 90%;
		height: 40%;
		padding: 0.5rem;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.container2{
		width: 95%;
		height: 95%;
		margin: 2px;
	}
	.container3{
		width: 95%;
		height: 10%;
		margin: 8px;
		margin-top: 15px;
		color: white;
		font-size: 20px;
		padding-top: 10px;
		 justify-content: center;
  		align-items: center;
  		word-break: break-all;
	}
	.generator{
		height: 20%;
		margin: 5px;
		margin-top: 10px;
	}

	.mybutton{
		font-size: 20px;
		font-weight: bold;
		color: purple;
		height: 50%;
		margin: 10px;
		width: 95%;
		text-align: center;
	}
	p{
		color: white;
		padding-left: 20px;
		font-size: 15px;
		font-weight: bold;
	}
}

